/************************************/
/*	BASE STYLES 
/************************************/
body{
	padding:0;	
	margin:0;	
	width:100%;	
	height:100%;
	font-size:13px;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	line-height:1.5;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	height:auto;
	color:#c5c5c5;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; }
*{
	outline:none;
	border:none;
}
a img{
	border:none;
}
img{
	max-width:100%;
}
.spacer{
	clear:both;	
	width:100%;	
	height:0;
}
.body-wrapper {
	width:100%;		
	margin:0 auto;	
	padding:0;
}
.controller {
	width:940px; 
	height:auto; 
	margin:0 auto;	
	padding:0;
}
h1 {
  font-size: 38.5px;
}

h2 {
  font-size: 31.5px;
}

h3 {
  font-size: 24.5px;
}

h4 {
  font-size: 17.5px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11.9px;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
	color:#5b5b5b;
	margin:0 0 15px 0;
	font-family:'Open Sans', Arial, sans-serif;
}
h4 span{
	color:#e4593a;
}
p{
	font-size:14px;
	color:#34495e;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight:400;
	margin-top:0;
	margin-bottom:15px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, a{
	color:#1abc9c;
}

a:hover{
	text-decoration:none;
	color:#444;
}
a, a > * {
	font-family: 'Open Sans', Arial, sans-serif;
	text-decoration: none;
	-webkit-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
	   -moz-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
	    -ms-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
	     -o-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
	        transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
}
input, textarea{
	font-family: 'Open Sans', Arial, sans-serif;
	font-size:13px;
	-webkit-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
	   -moz-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
	    -ms-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
	     -o-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
	        transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
}
.button, input[type="submit"], button {
	background:#1abc9c;
	color: #fff;
	cursor: pointer;
	height: auto;
	overflow: visible;
	padding: 3px 20px 4px 20px;
	-webkit-transition: background-color .3s ease;
	   -moz-transition: background-color .3s ease;
		-ms-transition: background-color .3s ease;
		 -o-transition: background-color .3s ease;
			transition: background-color .3s ease;
	width: auto;
}
blockquote{
	margin:30px;
	border-left:1px solid #444;
	padding-left:30px;
	font-style:italic;
	color:#777;
}

footer#footer h1,
footer#footer h2,
footer#footer h3,
footer#footer h4,
footer#footer h5,
footer#footer h6 {color:#FFF;}
/*footer#footer p{color:#fff;}*/
footer#footer a:hover{color:#fff}

::-moz-selection { background: #e4593a; color: #fff; text-shadow: none; }
.::selection { background: #e4593a; color: #fff; text-shadow: none; }

/* :: RADIUS :: */
.radius-2{	-webkit-border-radius: 2px;	-moz-border-radius: 2px;	border-radius: 2px; }
.radius-3{	-webkit-border-radius: 3px;	-moz-border-radius: 3px;	border-radius: 3px; }
.radius-5{	-webkit-border-radius: 5px;	-moz-border-radius: 5px;	border-radius: 5px; }
.radius-10{	-webkit-border-radius: 10px;	-moz-border-radius: 10px;	border-radius: 10px; }
.radius-15{	-webkit-border-radius: 15px;	-moz-border-radius: 15px;	border-radius: 15px; }
.radius-20{	-webkit-border-radius: 20px;	-moz-border-radius: 20px;	border-radius: 20px; }

.padding80{
	padding:80px 0;
}
.padding50{
	padding:50px 0;
}
.padding40{
	padding:40px 0;
}
.padding30{
	padding:30px 0;
}
.padding20{
	padding:20px 0;
}
.padding10{
	padding:10px 0;
}
.p-top-80 {
	padding-top:80px;
}
.p-bottom-80 {
	padding-bottom:80px;
}
.p-top-60 {
	padding-top:60px;
}
.p-bottom-60 {
	padding-bottom:60px;
}
.p-top-50 {
	padding-top:50px;
}
.p-bottom-50 {
	padding-bottom:50px;
}
.p-top-40 {
	padding-top:40px;
}
.p-bottom-40 {
	padding-bottom:40px;
}
.p-top-30 {
	padding-top:30px;
}
.p-bottom-30 {
	padding-bottom:30px;
}


.m-bottom-40 {
    margin-bottom: 40px;
}
.m-top-40 {
    margin-top: 40px;
}
.m-bottom-30 {
    margin-bottom: 30px;
}
.m-top-30 {
    margin-top: 30px;
}
.m-top-20 {
    margin-top: 20px;
}
.m-bottom-20 {
    margin-top: 20px;
}